{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% translate "Users" %}{% endblock %}

{% block content %}
  <h1 class="my-4 text-3xl font-bold">{% translate "Users" %}</h1>
  <div class="overflow-x-auto">
    <table class="w-full text-left">
      <thead class="border-b border-gray-300">
        <tr>
          <th class="px-3 py-2">ID</th>
          <th class="px-3 py-2">{% translate "Username" %}</th>
          <th class="px-3 py-2">{% translate "Full name" %}</th>
          <th class="px-3 py-2">{% translate "Created at" %}</th>
          <th class="px-3 py-2"></th>
        </tr>
      </thead>
      <tbody>
        {% for account in users %}
          <tr class="border-b border-gray-200 align-top odd:bg-gray-50">
            <td class="px-3 py-2">{{ account.pk }}</td>
            <td class="px-3 py-2">{{ account.username }}</td>
            <td class="px-3 py-2">{{ account.get_full_name }}</td>
            <td class="px-3 py-2">{{ account.date_joined|date:"d.m.Y H:i" }}</td>
            <td class="px-3 py-2">
              <a href="{% url 'user_update' account.pk %}" class="block text-blue-600 hover:underline">{% translate "Update" %}</a>
              <a href="{% url 'user_delete' account.pk %}" class="block text-blue-600 hover:underline">{% translate "Delete" %}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
